.list-size {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.25rem;
  padding: 0;
}

.list-size li {
  list-style: none;
}

.size-btn {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--zinc-800);
  font-size: 0.75rem;
  color: var(--light);
  border: 2px solid var(--zinc-800);
  border-radius: 0.25rem;
  transition: all 0.3s ease-in-out;
}

.size-btn:hover {
  border: 2px solid var(--light);
}

.size-btn:focus {
  background-color: var(--primary);
  border: 2px solid var(--primary-shadow);
  box-shadow: inset 0px 1px 4px var(--primary-shadow);
}
